<header class="site-header">
  <nav class="site-nav container">
    <a href="{{ '/' | relative_url }}" class="site-logo">{{ site.title }}</a>
    <div class="nav-sign">
      <div class="nav-sign__glow"></div>
      <ul class="nav-menu">
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/comics' | relative_url }}">Comics</a></li>
        <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
        <li><a href="{{ '/videos' | relative_url }}">Videos</a></li>
        <li><a href="{{ '/drawings' | relative_url }}">Drawings</a></li>
      </ul>
    </div>
  </nav>
</header>
